body {
     font-family:Russo one;
     margin: 0;
     width: 100%;
}

/*header-top*/

.header {
     background-color: FAFAFA;
}

.header_top {
     margin: 0;
}

.header_horizontal_bar  {
     background-color:  FAFAFA ;  
     padding-top: 10px; 
}

.logo_top {
     width: 172px;
     height: 48px;
     border: #FFF;
     border-radius: 18px;
     background: #FFF;
     box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.35);
     color: #0500FF; 
     font-size: 24px;
     font-weight: bold;
     letter-spacing: -1px;
}

.after_logo {
     width: 400px;
     height: 48px;
     border: #FFF;
     border-radius: 18px;
     background: #FFF;
     box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.35);
}

.header_top_link {
     width: 200px;
     height: 48px;
     border-radius: 16px;
     background: #FFF;
     box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.35);
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
}

.navigation_link {
     text-decoration: none;
     color: #000;
     font-size: 15px;
     font-weight: 400;
}

.header_search {
     width: 250px;
     height: 48px;
     border: #FFF;
     border-radius: 16px;
     background: #FFF;
     box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.35);
}

.img_shopping_bag {
     width: 33px;
     height: 33px;
     object-fit: cover;
}

.log_in {
     color: #000;
     text-align: center;
     font-size: 24px;
     font-weight:bold;
     width: 150px;
     height: 48px;
     border: #FFF;
     border-radius: 16px;
     background: #FFF;
     box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.35);
}

.header_navigation_links {
     margin: 10px;
     align-items: center;
     display:flex; 
     justify-content: center;
     gap: 50px;
}


/* header-mid */

.header_mid {
     box-shadow: 0px 4px 19.6px 0px rgba(0, 0, 0, 0.25) inset;
}

.header_title {
   display: flex;
   justify-content: center;
   position: relative;
   bottom: 100px;
}

.h1 {
     margin: 0;
     top: 100px;
     position:relative;
     font-size: 209.87px;
     font-style: normal;
     font-weight: 400;
     background: linear-gradient(180deg, #5596F9 18%, rgba(143, 161, 255, 0.20) 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}

.haeder_mid_sections {
     position: relative;
     bottom: 100px;
     display: flex;
     justify-content: center;
     gap: 50px;
}

.pandora_silver_1 {
     z-index: 1;
     width: 468.013px;
     height: 620.103px;
     border-radius: 49.476px;
     background: rgba(0, 0, 0, 0.90);
     box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.35);
     color: #CBD6FF;
}

.img_braclet {
     margin-left:60px;
     width: 339px;
     height: 139px;
     object-fit: cover;
}

.pandora_silver_text { 
     left: 60px;
     text-align: center;
     width: 328.123px;
     position: relative;
     font-size: 58.449px;
     font-weight: 400;
     letter-spacing: -2px;
}

.pandora_silver_text_2 {
     left: 120px;
     text-align: center;
     width: 228.123px;
     position: relative;
     font-size: 45px;
     font-weight: 400;
     letter-spacing: -2px;
}

.pandora_silver_text_3  {
     font-size: 36px;
     font-weight: 400;
     text-align: center;
}

.pandora_silver_2{
     position: relative;   
     bottom: 30px;
     border-radius: 49.476px;
     background: rgba(229, 229, 240, 0.90);
     opacity: 85%;
     box-shadow: 0px 4px 37px 0px rgba(0, 0, 0, 0.35);
     height: 267.494px;
     width: 534.872px;
}

.pandora_silver_text_2_3 {
     display: flex;
     justify-content: center;
     gap: 60px;
     position: relative;
     bottom: 200px;
}

.pandora_silver_text_4 {
     bottom: 30px;
     left: 30px;
     text-align: center;
     width: 228.123px;
     position: relative;
     font-size: 45px;
     font-weight: 400;
     letter-spacing: -2px;
}

.pandora_silver_text_1 {
     text-align: center;
     width: 328.123px;
     position: relative;
     right: 20px;
     top: 10px;
     color: #000;
     font-size: 58.449px;
     font-weight: 400;
     letter-spacing: -2px;
}

.img_braclets {
     position: relative;
     bottom:120px;
     left: 50px;
}